@use "../../partials/breakpoints" as breakpoints;

.contact {
  background-color: #c0c0c0;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  border: 1.5px solid #c0c0c0;
  box-shadow: 2px 3px 7px 6px rgba(0, 0, 0, 0.39);

  &__page {
    margin: 0 1rem;
  }

  &__symbol {
    flex: 0.2;
    padding: 1rem 0.25rem;
  }

  &__link {
    font-size: 0.9rem;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 0.25rem;
    display: block;
    color: #5f6b82;
    cursor: pointer;

    &:first-of-type {
      padding-top: 1rem;
    }

    &:last-of-type {
      padding-bottom: 1rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@include breakpoints.tablet {
  .contact {
    width: 70%;

    &__link {
      font-size: 1.25rem;
      padding-right: 0;
    }

    &__symbol {
      flex: 0.25;
    }

    &__caution {
      width: 4rem;
    }
  }
}

@include breakpoints.desktop {
  .contact {
    width: fit-content;
    margin-top: 1rem;

    &__caution {
      width: 6rem;
    }

    &__symbol {
      flex: 0.1;
      padding: 1rem;
    }

    &__link {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
}
