.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(151, 151, 151, 0.7);
  margin: 0 15rem;
  border-radius: 12px;
  overflow: auto;
}

.about {
  margin: 0;
  padding-top: 1rem;

  &__body {
    margin: 0;
    padding: 1rem 0;
  }
}

.info {
  &__tagline {
    padding: 0 3rem;
  }
}

.second {
  margin-top: 2rem;
  padding: 0 2rem;
}

.third {
  margin-top: 2rem;
}

.logo {
  width: 10rem;
}
